{% extends "mybase.html" %}

{% block main_content %}

<div class = content_text_2>

	<div class="columnsContainer">
	<div class="leftColumn">
		<p>12190 Village Center Pl, Mukilteo, WA 98275</p>
		<p>Tel: 425-493-0026</p>
		<p>Fax: 425-493-0027</p>

		<p>Mon - Thu 11am - 9pm</p>
		<p>Fri 11am - 10pm</p>
		<p>Sat 12pm - 9:30pm</p>
		<p>Sun 4pm - 9pm</p>
	</div>

	<div class="rightColumn">
		<iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=thai%20rama&key=AIzaSyCxlTZTTkp0xho6J6hn6w9AzQSSAZRUpO0"></iframe>
	</div>
	</div>

</div>

{% endblock %}