{% extends "mybase.html" %}
{% block title %}Contact Us | Thai Rama{% endblock %}

{% block main_content %}
<div class = aboutus_pages>
<div class = content_text>

	<div class="columnsContainer">
	<div class="leftColumn">
		<p>12190 Village Center Pl, Mukilteo, WA 98275</p>
		<p><a href="tel:+14254930026" style="color:#ECEAE0;">Tel: 425-493-0026</a></p>
		<p><a href="fax:+14254930027" style="color:#ECEAE0;">Fax: 425-493-0027</a></p>

		<div id = "hours_div" style = "margin-top:3em; margin-bottom:2em;">
			<h2 style = "margin-bottom: .5em">Hours</h2>
			<table>
			<tr>
			  <td><p>Mon - Thu:</p></td>
			  <td><p>11am - 9pm</p></td>		
			</tr>
			<tr>
			  <td><p>Fri:</p></td>
			  <td><p>11am - 10pm</p></td>		
			</tr>
			<tr>
			  <td><p>Sat:</p></td>
			  <td><p>12pm - 9:30pm</p></td>		
			</tr>
			<tr>
			  <td><p>Sun:</p></td>
			  <td><p>4pm - 9pm</p></td>		
			</tr>
			</table>
		</div>

		<div class="fb-like" data-href="https://www.facebook.com/thairamarestaurant" data-layout="standard" data-colorscheme = "dark" data-action="like" data-show-faces="true" data-share="true" style = "margin-bottom: 1em"></div>

		<!--
		<div class = "ramahouse" id = "ramahouse1">
		<a href="http://www.ramahouseinbothell.com" target="_blank">
			<p>Visit our Brother Restaurant in Bothell</p>
			<img src="{{MEDIA_URL}}images/other/ramahouse_logo_web.svg" id = "ramahouse_logo">
		</a>
		</div>
		-->


	</div>

	<div class="rightColumn">
		<iframe id = "map_iframe" frameborder="0" style="border:0; min-height: 18em;" src="https://www.google.com/maps/embed/v1/place?q=Thai%20Rama%2C%2012190%20Village%20Center%20Pl%2C%20Mukilteo%2C%20WA%2C%20United%20States&key=AIzaSyCxlTZTTkp0xho6J6hn6w9AzQSSAZRUpO0"></iframe>
	</div>
	</div>

	<div class = "ramahouse" id = "ramahouse2">
	<a href="http://www.ramahouseinbothell.com" target="_blank">
		<p>Visit our Brother Restaurant in Bothell</p>
		<img src="{{MEDIA_URL}}images/other/ramahouse_logo_web.svg" id = "ramahouse_logo">
	</a>
	</div>

</div>
</div>
{% endblock %}