{% extends "mybase.html" %}
{% block title %}Press | Thai Rama{% endblock %}

{% block main_content %}

<div class = content_text>

		<ul style = "padding-top: 0px; list-style: none; margin: 0; cursor:pointer;">
			<h3>Background Images (with some changes made):</h3>
	    	<li style = "margin: 0px; padding-left: 1.5em;">
	    		<a href="http://commons.wikimedia.org/wiki/File:Thai_Silk_Sample_4_-_Ban_Tha_Sawang.jpg" target="_blank"><p>Gallery Page</p></a>
	    		<a href="https://www.flickr.com/photos/zeepack/4022944168" target="_blank"><p>Press Page</p></a>
	    		<a href="http://www.pict4all.com/activity_system/detail_articledb.php?id_blog=7" target="_blank"><p>Contact Us Page</p></a>
	    		<a href="https://www.flickr.com/photos/ana_carrington/4781628807/in/photostream/" target="_blank"><p>Suggestion Page</p></a>
	    	</li>
	    </ul>

</div>

{% endblock %}