{% extends "mybase.html" %}

{% block main_content %}

<div class = content_text>

	{% if albums %}
	    <ul>
	    {% for album in albums %}
	        <li><a href="{% url 'album' album.name %}">{{ album.name }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No Album</p>
	{% endif %}




</div>
<div id = "sample" style = "max-width: 474px; box-sizing: border-box;">
    <ul id="imageGallery" style= "list-style: none; padding-left: 0px;">
	    <li data-thumb="{{MEDIA_URL}}images/gallery/thumb/cS-1.jpg">
	    <img src= "{{MEDIA_URL}}images/gallery/cS-1.jpg" />
	    </li>
	    <li data-thumb="{{MEDIA_URL}}images/gallery/thumb/cS-2.jpg">
	    <img src= "{{MEDIA_URL}}images/gallery/cS-2.jpg" />
	    </li>
    </ul>
</div>
{% endblock %}