{% extends "mybase.html" %}

{% block title %}Thai Rama | Thai Restaurant in Mukilteo, WA{% endblock %}

{% block main_content %}



              <div class="owl-carousel">
                <div class="item"><img src="{{MEDIA_URL}}images/other/1.jpg" alt="Welcome to Thai Rama"></div>
                <div class="item"><img src="{{MEDIA_URL}}images/other/2.jpg" alt="Special: Crispy Corn"></div>
                <div class="item"><img src="{{MEDIA_URL}}images/other/3.jpg" alt="Special: Curry Rolls"></div>
              </div>
{% endblock %}

