{% extends "mybase.html" %}

{% block main_content %}

<div class = content_text>

<h1 align = "center">{{ menu_cat.name }}</h1>
<p  align = "center" style = "margin: 0;">{{ menu_cat.description }}</p>
{% if menu_dict %}
	<ul>
	
	{% for food_cat, food_menu_list in menu_dict.items %} 
		<li><h2 style = "font-size:180%; margin-bottom: .2em;">{{food_cat.name}}</h2>
			<h5 style = "margin: 0;">{{food_cat.description}}</h5>
		</li>
		<ul>
		<!-- Display food menu (i.e., the items) in the food category -->
		{% for food_menu in food_menu_list %} 
			<li>
				<div>
					<span style="float:left;">{{ food_menu.food_item.name }}</span>

					{% if food_menu.food_item.image %}
						<span style="float:left; margin-left: 5px;">
							<a href={{ food_menu.food_item.image.url }} 
							data-lightbox={{ food_menu.food_item.image.url }}>
							<img width="13px" src= "{{MEDIA_URL}}images/other/camera_icon.png")></a>
						</span>
					{% endif %}

					<!-- Display price -->
					{% if food_menu.price %}
						<span style="float:right;">${{ food_menu.price|floatformat:2 }}</span>
					{% endif %}
				</div>

				{% if food_menu.food_item.description %}
		        	<p class = "item_description" style="clear:both;">{{ food_menu.food_item.description }}</p>
		        {% endif %}
		        
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
	</ul>
{% else %}
    <p>No Menu</p>
{% endif %}

</div>
{% endblock %}