{% extends "mybase.html" %}
{% load thairamaapp_extras %}
{% block title %}{{ menu_cat.name }} | Thai Rama{% endblock %}

{% block main_content %}

<ul class = "normal_food_cat_list" style = "position: fixed;">
{% for food_cat in food_cat_list %} 
	<li><a href='#{{food_cat.name|cleanstring}}'>{{food_cat.name}}</a></li>
{% endfor %}

	<li><a class = "to_top" href="#logo">back to top</a></li>
</ul>

<div class = content_text>

<h1 align = "center" id = "{{menu_cat.name}}">{{ menu_cat.name }}</h1>
<p  align = "center" style = "margin: 0;">{{ menu_cat.description|linebreaksbr }}</p>
{% if menu_dict %}
	
	<div class = "mobile_food_cat_list">
	{% for food_cat in food_cat_list %} 
		<a href='#{{food_cat.name|cleanstring}}'>{{food_cat.name}}</a>
		{% if not forloop.last %}  
			&nbsp; | &nbsp;
		{% endif %}
	{% endfor %}
	</div>

	<ul>
	{% for food_cat in food_cat_list %} 
		<li>
			<h2 id = '{{food_cat.name|cleanstring}}' style = "font-size:180%; padding-bottom: .18em; margin-bottom: 0; padding-top: .5em; margin-top: .65em; padding-left: .3em;">{{food_cat.name}}</h2>
			<h5 style = "margin: 0; padding-left: .6506em; margin-bottom: .2em;">{{food_cat.description|linebreaksbr }}</h5>
			<a class = "to_top" href="#logo">back to top</a>
		</li>
		<ul>

		{% for food_cat_dict, food_menu_list in menu_dict.items %} 
			{% if food_cat_dict == food_cat %}
				<!-- Display food menu (i.e., the items) in the food category -->
				{% for food_menu in food_menu_list %} 
					<li style = "overflow: hidden;">
						<div>
							<span style="float:left;"><p style= "margin-top: .1em; font-size: 1.05em; font-weight: 500;">{{ food_menu.food_item.name }}</p></span>

							{% if food_menu.food_item.image %}
								<span style="float:left; margin-left: 5px;">
									<ul class="lightGallery" style = "padding-top: 0px; margin-left: .3em;">
								    	<li data-src={{ food_menu.food_item.image.url }} data-title = {{ food_menu.food_item.name }} style = "margin: 0;">
								    		<img src="{{MEDIA_URL}}images/other/pic_icon.svg" style = "max-height: 1.5em; cursor:pointer"/>
								    	</li>
								    </ul>
								</span>
							{% endif %}

							<!-- Display price -->
							{% if food_menu.price %}
								<span style="float:right;"><p style= "margin-top: .1em; font-size: .95em; font-weight: 500; padding-top:.1em;">${{ food_menu.price|floatformat:2 }}</p></span>
							{% endif %}
						</div>

						{% if food_menu.food_item.description %}
				        	<p class = "item_description" style="clear:both; font-size: .95em; font-weight: 300;">{{ food_menu.food_item.description|linebreaksbr }}</p>
				        {% endif %}
				        {% if food_menu.description %}
				        	<p class = "item_description" style="clear:both; font-size: .95em; font-weight: 500;">{{ food_menu.description|linebreaksbr }}</p>
				        {% endif %}
					</li>
				{% endfor %}
			{% endif %}
		{% endfor %}
		</ul>
	{% endfor %}
	</ul>
{% else %}
    <p>No Menu</p>
{% endif %}

</div>
{% endblock %}