{% extends "mybase.html" %}
{% block title %}Press | Thai Rama{% endblock %}

{% block main_content %}

<div class = content_text_2>

		<ul class="lightGallery" style = "padding-top: 0px; list-style: none; margin: 0; cursor:pointer;">
	    	<li data-src="{{MEDIA_URL}}images/other/press_1.jpg" data-title = press_1 style = "margin: 0;">
	    		<h3>The Best 100 Thai Restaurants in the U.S.A 2007 by <i>Best Thai Food</i> Magazine</h3>
	    	</li>
	    </ul>

	    <ul class="lightGallery" style = "padding-top: 0px; list-style: none; margin: 0; cursor:pointer;">
	    	<li data-src="{{MEDIA_URL}}images/other/press_2.jpg" data-title = press_2 style = "margin: 0;">
	    		<h3>Featured in <i>The Herald</i>'s April 2004 "Uncommon delights at Rama 3"<h3>
	    	</li>
	    </ul>

</div>

{% endblock %}