{% extends "mybase.html" %}
{% block title %}Suggestion | Thai Rama{% endblock %}

{% block main_content %}
<div class = content_text>
	<div id = "suggestion_form">
		<form action="" method = "post"> {% csrf_token %}
			<p>{{form.name.label}} {{form.name}}</p>
			<p>{{form.email.label}} {{form.email}}</p>
			<p>{{form.content.label}} {{form.content}}</p>
			<input class = "input_1" type = "submit" name = "submit" value = "Send Suggestion" style = "float:right; margin-right: .2em;">
		</form>
	</div>
	
</div>
{% endblock %}
