html, body{
	height: 100%;
	margin: 0;
	/*color: #4B4844;*/
	color: #ECEAE0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    background-color: #323232;
}

h1, h2, h3, h4, h5, h6{
	color: #AAAC5F;
}

body{
	font-family: 'Lato', sans-serif;
}

.main_content a:link {color:rgba(236, 234, 224, .75);} 
.main_content a:visited {color:rgba(236, 234, 224, .75);} 
.main_content a:hover {color:#AAAC5F;} 
.main_content a:active {color:#AAAC5F;} 


a:link {color:#7B7773;} 
a:visited {color:#7B7773;}
a:hover {color:#ECEAE0;} 
a:active {color:#ECEAE0;} 

a {
    text-decoration: none;
}

.header{ 
	background-color:#323232; 
	width:100%; 
	height: 10em;
	position: relative;
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);
}

.main_content{ 
	width:100%;
	/*background-color:#B9B2AD;*/
	background-color:#504842;
	float:left;
}

.content_text{
	padding-top: 6em;
	padding-bottom: 6em;
	margin: 0 auto;
	width: 58%;
	min-height: 17.8em;
}

.content_text ul{
	list-style: none;
	padding: 0;
	padding-top: 1.8em;
	margin-top: 0;
}

.content_text h1{
	font-size:200%;
	margin: .2em;
}

.content_text ul li{
	margin-left:0px;
	margin-top: 6px;
}

.content_text ul ul li{
	border-bottom: .08em solid rgba(236, 234, 224, .25);
	margin-left:2.8em;
	margin-right:2.8em;
	margin-top: .6em;
}

.content_text ul ul li p{
	font-weight: 300;
	margin-bottom: 4px;
	
}


.content_text ul ul li:last-child{
	border-bottom: 0px;
	margin-bottom: 3em;
}

.content_text ul ul li:first-child{
	margin-top: 0;
}

.footer{ 
	width: 100%;
	float:left;
	background-color:#323232; 
	box-shadow: 0px -1px 2px rgba(0,0,0,.5);
	padding-bottom: 1.3em;
	padding-top: 1.3em;
	position: relative;
}

.footer p{
	font-weight: 300;
	margin:2px;
	font-size:90%;
	color: #7B7773;
}

#logo{
	height:125%;
	width: 16%;
	background-color: #ECEAE0;
	margin:0em 0em 0em 5%;
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);
}

#logo_image{
	max-height: 180px;
	max-width: 200px;
	margin: auto;
  	display: block;
  	position: relative;
  	padding-top: 12px;
}

.profile_pic{
	vertical-align: middle;
}

/*********************************************************************************/
/* Menu Cat                                                                      */
/*********************************************************************************/

.item_description{
	clear:both; 
	font-size: .95em; 
}

/*********************************************************************************/
/* Suggestion                                                                    */
/*********************************************************************************/

textarea, input:not([type=submit]):not([type=file]) {
    border: none; 
    padding: .5em;
    background: rgba(255,255,255,0.3);
    margin: 0 0 10px 0;
    color: #4B4844;
}

textarea{
  display:inline-block;
  vertical-align:middle;
}

#suggestion_form{
	width: 70%;
	min-width: 20em;
    clear: both;
}

#suggestion_form p{
	vertical-align: middle;
}


#suggestion_form textarea, input:not([type=submit]):not([type=file]) {
    float:right;
    clear:both;
    width: 80%;
}


/*********************************************************************************/
/* Index                                                                         */
/*********************************************************************************/

/*
#index_image{
	height: 30em;
	background-image: url(media/images/other/home_3.jpg);
	background-position: center;
	background-size: cover;
	padding: 0;
}
*/
/*********************************************************************************/
/* Menu Bar                                                                      */
/*********************************************************************************/


    .owl-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
    }

    iframe, object, embed{width: 100%; height: 100%;}

 
.columnsContainer { position: relative;}
 
.leftColumn { }
 
.rightColumn {}


#hours_div table tr td p{
	margin-bottom: .2em;
	margin-top: .2em;
}

.input_1
{
    background-color: #AAAC5F;
	height: 2em;
	width: 10em;
    color: #4B4844;
    border: 0;
    border-radius:.3em;
    -webkit-appearance: none;
}

.normal_food_cat_list{
	list-style: none;
	padding-left: 0px;
	margin-left: 5%;
	background-color: rgba(236, 234, 224, .15);
	width: 16%;
	height: 100%;
	top: 0;
	margin-top: 0;
	padding-top: 17.3em;
	line-height: 1.9em;
}

.normal_food_cat_list a{
	padding-left: 6%;
}

.mobile_food_cat_list{
	text-align: center; 
	color: rgba(236, 234, 224, .75);
	margin-top: .3em; 
	font-size: 105%; 
}

.to_top{
	padding-left: .54em;
}

.ramahouse{
	background-color: rgba(51,51,50, .7); 
	text-align: center; 
	margin-right: 1.5em;

}

.ramahouse a {
	display: block;
	padding-bottom: .5em;
}
.ramahouse a p{
	text-align:center; 
	font-size: 108%; 
	margin: 0; 
	color: rgba(255,255,255,.3); 
	padding-top: 1.3em; 
	padding-bottom: .3em;
	font-weight: 300;
}

.ramahouse a img{
	max-width: 85%;
}

#ramahouse1{
	margin-top: 1.5em;
}

#ramahouse2{
	margin-right: 0;
	margin-top: 2em;
}

@media screen and (min-width: 63em ) {
  .leftColumn { width: 53%;}
 
  .rightColumn { position: absolute; top: 0; right: 0; width: 47%; height: 100%;}
}

@media all and (min-width: 63em){
	nav{
		position: absolute;
		right: 0;
		top: 0;
		padding: 0;
		margin: 0;
		height: 100%;
	}
	nav ul li:hover {
	background: linear-gradient(top, #9C9E57 0%, #AAAC5F 40%);
	background: -moz-linear-gradient(top, #9C9E57 0%, #AAAC5F 40%);
	background: -webkit-linear-gradient(top, #9C9E57 0%,#AAAC5F 40%);
	}


	.mobile_food_cat_list{
		display:none;
	}

	.to_top{
		display:none;
	}

	#ramahouse2{
		display:none;
	}
}

@media all and (min-width: 63em){
	.menu_pages{ 
		width:100%; 
		background: url(media/images/other/web_food_background.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		float:left;
	}

	.aboutus_pages{ 
		width:100%; 
		background: url(media/images/other/web_light_background.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		float:left;
	}

	.gallery_pages{ 
		width:100%; 
		background: url(media/images/other/web_silk_background.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		float:left;
	}http://0.0.0.0:5000/

	.press_pages{ 
		width:100%; 
		background: url(media/images/other/web_giant_background.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		float:left;
	}

	.suggestion_pages{ 
		width:100%; 
		background: url(media/images/other/web_flower_background.jpg) no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		float:left;
	}

}

@media all and (min-width: 63em){
	#mobile_slide{ 
		display:none;
	}
}

@media screen and (max-device-width: 63em) and (orientation: portrait) {
	#normal_slide{ 
		display:none;
	}
}

@media screen and (max-device-width: 63em) and (orientation: landscape) {
	#mobile_slide{ 
		display:none;
	}
}


@media all and (max-width: 63em),  all and (max-device-width: 63em) {

	#logo{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.content_text{
	width: 85%;
	padding-top: 9em;
	}

	.owl-carousel{
		padding-top: 5.7em;
	}
	
	.content_text ul ul li{
	margin-left:.8em;
	margin-right:.8em;
	}

	.normal_food_cat_list{
		display:none;
	}

	#map_iframe{
		max-height: 18em;
	}

	#ramahouse1{
		display:none;
	}

}
